<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">

      <!--Se utiliza para navegar entre componentres-->
    <!--<ng-template [ngIf]="route == '/crearLibro'">
        <app-crear-libro></app-crear-libro>
      </ng-template>
      <ng-template [ngIf]="route == '/editarlibro'">
        <app-editar-libro> </app-editar-libro>
      </ng-template>-->

      <app-crear-libro></app-crear-libro>
      <h6>Routelink no me funciono </h6>
      <app-editar-libro> </app-editar-libro>



    </div>
  </div>
</div>

