<br><br>
<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <h1>Crear Libro</h1>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="email" class="form-control " id="exampleFormControlInput1">
          </div>

          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">Autor</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
          </div>
        </div>
      </div>

      <br>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">Fecha de publicacion</label>
            <input type="email" class="form-control " id="exampleFormControlInput1">
          </div>

          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">Valor</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">Disponible</label>
          </div>
          <div class="col-6">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-4">
          </div>
          <div class="col-6">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">Guardar</button>
            </div>
          </div>
        </div>
      </div>
      <br>

    </div>
  </div>
  <div class="col-2">

  </div>
</div>

