<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <br><br>
      <h1>Consulta de libros</h1>
      <br><br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p>Autor:</p>
          <p>Fecha de publicacion:</p>
          <p>disponible:</p>
          <p>valor:</p>

        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p>Autor:</p>
          <p>Fecha de publicacion:</p>
          <p>disponible:</p>
          <p>valor:</p>

        </div>
      </div>
    </div>
  </div>
</div>
