<nav class="navbar navbar-expand-lg" id="menu-vertical"  >
  <div class="collapse navbar-collapse"  id="navbarTogglerDemo01" >
    <ul>
      <br><br><br><br><br><br><br><br><br><br>
      <li>
        <a type="button" class="btn" [routerLink]="['/crearLibro']">
          <div >
            Crear libro
          </div>
        </a>
      </li>

      <li>
        <a type="button" class="btn" [routerLink]="['/editarlibro']">
          <div>
            Consultar libro
          </div>
        </a>
      </li>

    </ul>
  </div>
</nav>
